@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.clip-polygon-hero {
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.clip-polygon-contact {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.skew-y-356 {
  transform: skewY(-7deg);
}

.-skew-y-356 {
  transform: skewY(7deg);
}

.animate-moveInLeft {
  animation: moveInLeft 1s ease-out;
}

.animate-moveInRight {
  animation: moveInRight 1s ease-out;
}

.animate-moveInBottom {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
